.form {
    @media screen and (min-width: 1024px) {
        width: 100%
    }
}

.inputs {
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        max-width: 500px;
        margin: 0 auto 15px;
    }

    &__field {
        background-color: $color-white;
        font-size: 18px;
        font-weight: 500;
        color: $color-space-grey;
        opacity: 0.75;
        border-radius: 8px;
        padding: 10px 0 10px 10px;
        border: 0;
        width: 100%;
        max-height: 45px;

        &.email {
            margin-right: 5px;
            max-width: 60%;

            &.invalid-email {
                background-color: $color-pink;
                border: 3px solid $color-red;
            }

            @media screen and (min-width: 1024px) {
                margin-right: 10px;
            }
        }

        &.zip {
            max-width: 30%;
        }


        @media screen and (min-width: 1024px) {
            max-width: 333px;
        }
    }

    .invalid {
        color: $color-white;
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: 0.13px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 135px;
    }
}