.main-header {
    background-color: $color-white;
    display: flex;
    max-height: 60px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (min-width: 1024px) {
        padding: 16px 65px;
    }

    &__link {
        background-color: $color-orange;
        border-radius: 15px;
        font-size: 15px;
        color: $color-white;
        max-width: 100px;
        max-height: 35px;
        padding: 7px 17px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &.quiz-started {
        background-color: $color-orange;

        .main-header__link {
            background-color: $color-white;
            color: $color-space-grey;
        }
    }
}