//*------------------------------------*\
//    $COLORS
//*------------------------------------*/

$color-black: #000;
$color-white: #fff;
$color-orange: #f38b00;
$color-dark-orange: #db7d00;
$color-red: #d40f00;
$color-pink: #ffd1cd;
$color-space-grey: #434343;
$color-light-grey: #e9e9e9;
$color-star-grey: #f7f5f5