//*------------------------------------*\
//    $COLORS
//*------------------------------------*/

$color-black: #000;
$color-white: #fff;
$color-orange: #f38b00;
$color-red: #d40f00;
$color-pink: #ffd1cd;
$color-space-grey: #434343;